<link rel="import" href="{$components_url}controllets/data-sevc-controllet/co-datalets-creator-controllet.html"/>
<script src="{$components_url}locales/controllet_ln.js" type="text/javascript"></script>
<script src="{$components_url}locales/paper_card_controllet_ln.js" type="text/javascript"></script>

<style>
    div.clearfix.floatbox_cap{
        display: none;
    }
</style>

{literal}
<script>
    $(document).ready(function(){
        window.addEventListener('data-sevc-controllet.dataletCreated', function(e){
            ODE.savedDataletListener(e);
        });
    });
</script>
{/literal}

<co-datalets-creator-controllet
        deep-url="{$deepUrl}"
        data-url={$dataUrl}
        datalets-list-url="{$dataletListUrl}">
</co-datalets-creator-controllet>