<link rel="import" href="{$components_url}controllets/page-slider-controllet/page-slider-controllet.html"/>
<link rel="import" href="{$components_url}bower_components/paper-fab-transitions/paper-fab-speed-dial.html">
<link rel="import" href="{$components_url}controllets/postit-container-controllet/postit-container-controllet.html"/>

<script src="{$components_url}locales/controllet_ln.js" type="text/javascript"></script>
<script src="{$components_url}locales/paper_card_controllet_ln.js" type="text/javascript"></script>

<style>

    .datalet-container{
        position: relative;
        /*overflow: hidden;*/
        height: 90%;
        width: 100%;
    }

    #addDatalet{
        position: fixed;
        bottom: 50px;
        right: 30px;
    }

    postit-container-controllet{
        position: fixed;
        bottom: 50px;
        right: 140px;
    }

    neon-animatable{
        width: 100%;
    }

    .dropdown-content{
        position: relative;
        right: 35px;
        top: 30px;
    }

    iron-icon.myspace.animated-button-container-controllet{
        position: fixed;
        bottom: 52px;
        right: 27px;
        padding: 5px;
        margin: 0px;
        color: #FFFFFF;
        height: 40px;
        width: 40px;
        background-color: #00BCD4;
        /* Firefox */
        -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
        /* Safari+Chrome */
        -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        /* Opera */
        box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        -o-transform:rotate(4deg);
        -webkit-transform:rotate(4deg);
        -moz-transform:rotate(4deg);
    }

    iron-icon.add_new_datalet {
        position: fixed;
        bottom: 52px;
        right: 83px;
        padding: 2px;
        margin: 0px;
        color: #FFFFFF;
        height: 48px;
        width: 48px;
        background-color: #00BCD4;
        /* Firefox */
        -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
        /* Safari+Chrome */
        -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        /* Opera */
        box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        -o-transform:rotate(4deg);
        -webkit-transform:rotate(4deg);
        -moz-transform:rotate(4deg);
    }

    .delete{
        position: absolute;
        bottom: 11px;
        right: 66px;
    } 

</style>

<page-slider-controllet id="slider_datalets"
                        prev-entry-animation="fade-in-animation"
                        prev-exit-animation="fade-out-animation"
                        next-entry-animation="fade-in-animation"
                        next-exit-animation="fade-out-animation"
                        avatar="{$datalets|@count}"
                        selected="{{$datalets|@count} - 1}">

    {foreach $datalets as $datalet name=alldatalets}

    <neon-animatable>
        <paper-fab class="delete" mini icon="delete" onclick="room._handleDeleteClick('{$datalet->id}')" style="background-color: #b6b6b6;"></paper-fab>
        <div id="datalet_placeholder_{$smarty.foreach.alldatalets.index}" class="datalet-container">
            <link rel="import" href="{$components_url}datalets/{$datalet->component}/{$datalet->component}.html">
            <{$datalet->component}
            fields='[{$datalet->fields}]'
            {foreach key=key item=value from=$datalet->params}
            {$key}='{$value}'
            {/foreach}
            >
        </{$datalet->component}>
        </div>
        <div class="postit_container" id="postit_container_{$datalet->id}">
            <postit-container-controllet id="postit_{$datalet->id}" class="postit" data='{$postits[$datalet->id]}'></postit-container-controllet>
        </div>
    </neon-animatable>

    {/foreach}

</page-slider-controllet>


<iron-icon class="add_new_datalet" mini icon="assessment" onclick="room._addDatalet(COCREATION.room_type);"></iron-icon>
{$private_room}
