<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-styles/color.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="{$components_url}bower_components/iron-icon/iron-icon.html">


<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body{
        font-family: 'Roboto', sans-serif;
        background-color: #eeeeee;
        padding : 3px;
    }

    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }
    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }
    iron-icon.myspace {
         padding: 2px;
         margin: 0px;
         color: #FFFFFF;
         height: 32px;
         width: 32px;
         background-color: #00BCD4;
         border-radius: 18px;
         box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
     }
</style>

<div class="layout vertical">

    <div class="tall">
        <div class="title"> Helper per la stanza  della conoscenza</div>
        <div class="description">
            La stanza della conoscenza  ha lo scopo di stimolare la riflessione sugli Open Data attraverso tre fasi del processo di co-scrittura di documenti
            (con un modello) per <i>Esplora</i>, <i>Idea</i>, e il <i>Risultato</i>.
            Le datalet si possono creare e annotare con post-it come commento (con notifiche ai partecipanti in tempo reale).
        </div>
    </div>

    <div class="content" id="scroll_content">
        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/cocreation_knowledge_en.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">Modalità</div>
                    </div>
                    <div>
                        <p>
                            Clicca sul pulsante in alto a sinistra per selezionare:
                        </p>
                    </div>

                    <ul class="cell-list">
                        <li> Dati</li>
                        <li> Co-creazione</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/cocreation_knowledge_data.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">2</div>
                        <div class="section-title">Data</div>
                    </div>
                    <div>
                        <p Tutti i membri posso aggiungere datasets presenti su di un portale di  open data (ad esempio,  @CKAN) che saranno presenti come  elenco  nella scheda <b>Libreria</b>.
                        <ul class="cell-list">
                            <li>
                                <b>Libreria</b> mostra tutti i datasets inseriti nella lista
                            </li>
                            <li><b>Aggiungi datalet</b> aggiunge una datalet nella Libreria.  Un wizard (cioè una una guida) ti aiuterà ad aggiungere un dataset

                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/cocreation_knowledge_collab_en.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">3</div>
                        <div class="section-title">Co-creazione</div>
                    </div>
                    <div>
                        <p>
                            In questa stanza, a sinistra, si possono  editare documenti, in modo collaborativo, in tempo reale e un elenco di funzionalità sono disponibili come:
                        <ul class="cell-list">
                            <li>  <b>Collaborazione </b> : si possono  vedere i cambiamenti degli altri utenti in tempo reale ed ogni utente viene identificato dal colore e dal nome.</li>
                            <li> <b>Chat</b>: una comunicazione sincrona  è disponibile con altre persone che condividono lo stesso documento.</li>
                            <li>
                                <b>Registrazione delle revisioni </b>; : si possono registrare cronologicamente le revisioni del documento.
                            </li>
                            <li>
                                <b> Esportare</b>: si può esportare un documento nel formato HTML, testo normale, Microsoft Word, PDF e un formato standard aperto (ODF).
ok
                            </li>
                        </ul>
                        </p>
                        <p>
                            A destra, si può  creare (una lista) datalets  partendo dall’inizio (<iron-icon class="myspace" mini icon="assessment"></iron-icon>)
                            o da “ Spazio privato” (<iron-icon class="myspace" mini icon="assessment"></iron-icon>) di un utente.
                            Si possono aggiungere note  su ogni datalet (simile ad un post-it)
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/cocreation_knowledge_features_en.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">4</div>
                        <div class="section-title">Co-creation: features</div>
                    </div>
                    <div>
                        <p>
                            On the right side, a list of features are available:
                        <ul class="cell-list">
                            <li> User Interface allows to enlarge, split the shared document or  the datalet</li>
                            <li> Add notes </li>
                            <li> <b>Import from My Space </b> allows to import a datalet from the private space of  user (e.g., My space) </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
