<!--<link rel="import" href="{$components_url}controllets2/qualicy-controllet/qualicy-controllet.html"/>-->

<style>
    div.clearfix.floatbox_cap {
        display: none;
    }

    body .floatbox_header {
        display: none;
    }

    body .floatbox_body {
        padding: 0;
    }

    body .floatbox_bottom {
        display: none;
    }

    /*body .floatbox_body {}*/

    /*body .floatbox_canvas .floatbox_container {}*/
</style>

{literal}
<script>
    $(document).ready(function(){
        setTimeout(function() {
            document.querySelector("#data_table_controllet")._resize();
        }, 1000);
    });
</script>
{/literal}


<div style="width: 100%; height: 100%;">
    <iframe width="100%" height="100%" srcdoc="<link rel='import' href='{$components_url}controllets2/qualicy-controllet/qualicy-controllet.html'/> <style>html, body { height: 100%; margin: 0; }</style> <qualicy-controllet id='data_table_controllet' data='{$data}'></qualicy-controllet>"></iframe>
    <!--<qualicy-controllet id='data_table_controllet' data='{$data}'></qualicy-controllet> `-->
</div>

