<link rel="import" href="{$components_url}controllets/dataset-table-controllet/dataset-table-controllet.html">
<script src="{$components_url}locales/controllet_ln.js"></script>

<div style="height:80vh;">
{literal}
<!--<dataset-table-controllet data='[{"ID":"1",  "VER":"5", "USER":"http://172.16.15.77/ow_userfiles/plugins/base/avatars/avatar_1_1457965950.jpg,https://www.google.it/images/branding/googleg/1x/googleg_standard_color_128dp.png,http://172.16.15.77/ow_userfiles/plugins/base/avatars/avatar_1_1457965950.jpg,https://www.google.it/images/branding/googleg/1x/googleg_standard_color_128dp.png", "Name":"Bilancio Battipaglia", "Data":"07/06/2016", "METADATA":"Traffic, Cameras", "USED" : 10},
                              {"ID":"1",  "VER":"4", "USER":"http://172.16.15.77/ow_userfiles/plugins/base/avatars/avatar_1_1457965950.jpg,http://172.16.15.77/ow_userfiles/plugins/base/avatars/avatar_1_1457965950.jpg,http://172.16.15.77/ow_userfiles/plugins/base/avatars/avatar_1_1457965950.jpg", "Name":"Bilancio Battipaglia", "Data":"07/06/2016", "METADATA":"Traffic, Cameras", "USED" : 10},
                              {"ID":"1",  "VER":"3", "USER":"http://172.16.15.77/ow_userfiles/plugins/base/avatars/avatar_1_1457965950.jpg,http://172.16.15.77/ow_userfiles/plugins/base/avatars/avatar_1_1457965950.jpg,http://172.16.15.77/ow_userfiles/plugins/base/avatars/avatar_1_1457965950.jpg", "Name":"Bilancio Battipaglia", "Data":"07/06/2016", "METADATA":"Traffic, Cameras", "USED" : 10},
                              {"ID":"1",  "VER":"2", "USER":"http://172.16.15.77/ow_userfiles/plugins/base/avatars/avatar_1_1457965950.jpg", "Name":"Bilancio Battipaglia", "Data":"07/06/2016", "METADATA":"Traffic, Cameras", "USED" : 10},
                              {"ID":"1",  "VER":"1", "USER":"http://172.16.15.77/ow_userfiles/plugins/base/avatars/avatar_1_1457965950.jpg", "Name":"Bilancio Battipaglia", "Data":"07/06/2016", "METADATA":"Traffic, Cameras", "USED" : 10},
                              {"ID":"16", "VER":"4", "USER":"https://www.google.it/images/branding/googleg/1x/googleg_standard_color_128dp.png", "Name":"Traffic Cameras", "Data":"07/06/2016", "METADATA":"Traffic, Cameras",  "USED" : 10},
                              {"ID":"16", "VER":"3", "USER":"https://www.google.it/images/branding/googleg/1x/googleg_standard_color_128dp.png", "Name":"Traffic Cameras", "Data":"07/06/2016", "METADATA":"Traffic, Cameras",  "USED" : 10},
                              {"ID":"16", "VER":"2", "USER":"https://www.google.it/images/branding/googleg/1x/googleg_standard_color_128dp.png", "Name":"Traffic Cameras", "Data":"07/06/2016", "METADATA":"Traffic, Cameras",  "USED" : 10},
                              {"ID":"16", "VER":"1", "USER":"https://www.google.it/images/branding/googleg/1x/googleg_standard_color_128dp.png", "Name":"Traffic Cameras", "Data":"07/06/2016", "METADATA":"Traffic, Cameras",  "USED" : 10},
                              {"ID":"17", "VER":"1", "USER":"https://www.google.it/images/branding/googleg/1x/googleg_standard_color_128dp.png", "Name":"Traffic Cameras", "Data":"07/06/2016", "METADATA":"Traffic, Cameras",  "USED" : 10}]'>

</dataset-table-controllet>-->
{/literal}

    <dataset-table-controllet data='{$datasets}'></dataset-table-controllet>

</div>