<link rel="import" href="{$components_url}controllets/cocreation-paper-card-controllet/cocreation-paper-card-controllet.html">

<link rel="import" href="{$components_url}bower_components/iron-icons/iron-icons.html">
<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-toast/paper-toast.html">

<link rel="import" href="{$components_url}bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="{$components_url}bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="{$components_url}bower_components/paper-button/paper-button.html">

<link rel="import" href="{$components_url}bower_components/paper-fab-transitions/paper-fab-speed-dial.html">

{literal}
<style is="custom-style">

    paper-fab
    {
        --paper-fab-background:#2196F3;
    }

    paper-fab-speed-dial.add-paper-fab {
        position: absolute;
        bottom: 55px;
        right: 40px;
    }

    body .floatbox_canvas .floatbox_container{ margin-top:110px; }

    cocreation-paper-card-controllet{
        /*margin: 20px;*/
        padding: 20px;
    }

    .blue-button {
        text-transform: none;
        color: #2196F3;
        margin-top: 8px;
    }

    .confirm_button{
        position: relative;
        float: right;
        margin-top: -8px;
    }

    #submit_overlay{
        z-index: 1;
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

</style>
{/literal}

{literal}
<script type="text/javascript">

    function addCocreationRoom(room_type)
    {
        previewFloatBox = OW.ajaxFloatBox('COCREATION_CMP_CreateRoom', {room_type : room_type} , {width:'60%', height:'62vh', iconClass: 'ow_ic_add', title: ''});

    }

    setTimeout(function(){
                var roomList = document.querySelector('template[is="dom-bind"]');
                if(roomList.$.infoToast != undefined)
                   roomList.$.infoToast.show();
            }
            ,1000);

</script>
{/literal}

<template id="list" is="dom-bind">

    {if $isActive == false}
        <div id="submit_overlay">
            <h1 style="position: relative; top: 25%; left: 10%;">{text key="cocreation+concreation_not_active"}</h1>
        </div>
    {/if}

    <div class="layout" style="margin-top:20px;">
        {foreach $cocreation_rooms as $room}
        <cocreation-paper-card-controllet
                name="{$room->name}"
                owner="{$room->owner}"
                from="{$room->from}"
                to="{$room->to}"
                goal="{$room->goal}"
                room-url="{$partialRoomUrl}{$room->type}-room/{$room->id}">
        </cocreation-paper-card-controllet>
        {/foreach}
    </div>

    <paper-fab-speed-dial direction="top" class="bottom-right add-paper-fab">
        <paper-fab icon="add" title='' class="dropdown-trigger"></paper-fab>
        <div class="dropdown-content">
            <paper-fab title='' mini icon="assessment" onclick="addCocreationRoom('data')"></paper-fab>
            <paper-fab title='' mini icon="description" onclick="addCocreationRoom('knowledge')"></paper-fab>
        </div>
    </paper-fab-speed-dial>

    {if {$invitations|@count} > 0}
        <paper-toast id="infoToast" duration="0" text="">
            <div class="layout horizontal">
                <h5>{text key="cocreation+room_info_toast"}</h5>
                <paper-button onclick="infoToast.toggle()" class="blue-button"><b>x</b></paper-button>
            </div>
            <div class="layout vertical">
                {foreach $invitations as $invitation}
                <p>{$invitation}</p>
                {/foreach}
            </div>
        </paper-toast>
    {/if}

</template>